.highcharts-figure, .highcharts-data-table table {
    min-width: 500px;
    max-width: 1200px;
    min-height: 400px;
    border: 1px solid #eee;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


.widget-chart .widget-numbers {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    line-height: 1;
    margin: 1rem auto;
}

.widget-chart .widget-subheading + .widget-numbers {
    margin-top: 0.5rem;
}

.widget-chart.text-left .widget-numbers {
    margin-left: 0;
}

.widget-chart .widget-subheading:first-child {
    margin-top: 0;
}

.widget-chart .widget-subheading {
    margin: -0.5rem 0 0;
    display: block;
    opacity: .6;
}

.widget-chart.text-left .widget-chart-content .widget-description {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.widget-chart .widget-numbers + .widget-chart-flex, .widget-chart .widget-numbers + .widget-description, .widget-chart .widget-numbers + .widget-subheading {
    margin-top: -0.5rem;
}

.widget-chart .widget-description {
    margin: 1rem 0 0;
}

.text-focus {
    color: #444054 !important;
}

.widget-chart.text-left .widget-chart-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.widget-chart .widget-chart-content {
    position: relative;
    z-index: 5;
}
.widget-chart.text-left .icon-wrapper {
    min-width: 54px;
    height: 54px;
    margin: 0 1rem 0 0;
}
icon-wrapper {
    width: 54px;
    height: 54px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rounded-circle {
    border-radius: 50% !important;
}
.icon-wrapper .icon-wrapper-bg {
    position: absolute;
    height: 60px;
    width: 60px;
    z-index: 3;
    opacity: .2;
}

.opacity-9 {
    opacity: .9 !important;
}
.bg-success {
    background-color: #3ac47d !important;
}
.icon-wrapper i {
    margin: 0 auto;
    font-size: 1.7rem;
    position: relative;
    z-index: 5;
}
[class^="lnr-"], [class*=" lnr-"] {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget-chart.text-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.widget-chart {
    text-align: center;
    padding: 1rem;
    position: relative;
}
.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.bg-transparent {
    background: transparent !important;
}
.no-shadow {
    box-shadow: 0 0 0 transparent !important;
}
.rm-border {
    border-width: 0 !important;
}
.highcharts-figure, .highcharts-data-table table {
    min-width: 500px;
    max-width: 1200px;
    min-height: 400px;
    border: 1px solid #eee;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}