{% extends 'admin/base.html' %}
{% load i18n static suit_tags %}

{% block stylesheet %}{% static "suit/css/suit.css" %}{% endblock %}

{% block extrastyle %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='{% static "suit/css/font-awesome.min.css" %}' rel='stylesheet' type='text/css'>
<style>

    body {
        background-image: linear-gradient(135deg, #F1F4F6 70%, #66C49F 100%) !important;
    }
    #content-main {
        background-color: transparent !important;
    }
    .app-container {
        background-color: transparent !important;
    }
    body.suit_layout_horizontal #header {
        background-color: #66C49F !important;
    }
    body.suit_layout_horizontal #header #branding { min-width: 600px; }
    #header .demo-layout-switch { color: #ffffff !important; }
    #header .welcome { color: #ffffff !important; }
    #header .user-links a { color: #ffffff !important; }
    #result_list thead > tr th, .tabular table thead > tr th, table#change-history thead > tr th {
        background-color: #66C49F !important;
    }
    #changelist #changelist-filter h3 {
        background-color: #66C49F !important;
    }

    #result_list thead > tr th.column-source, #result_list tbody > tr td.field-source {
        border-right-color: #66C49F;
        border-right-width: 5px !important;
        border-right-style: solid;
    }
    body.login #header #branding {
        min-width: 200px !important;
    }
    body.login #header {
        background: white !important;
    }
    body.login #header h1 a {
        color: #66C49F !important;
    }
    body.login #header #branding img {
        width: 100px;
        height: 100px;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/project.js' %}" type="text/javascript"></script>
<style>

.badge-dot-lg {
    width: 10px;
    height: 10px;
}
.badge-dot {
    text-indent: -999em;
    padding: 0;
    border: transparent solid 1px;
    border-radius: 30px;
    min-width: 2px;
}
.badge-primary {
    color: #fff;
    background-color: #3f6ad8;
}
.badge-info {
    color: #fff;
    background-color: #16aaff;
}
.badge-warning {
    color: #212529;
    background-color: #f7b924;
}
.badge-danger {
    color: #fff;
    background-color: #d92550;
}
.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}
.mr-2, .mx-2 {
    margin-right: .5rem !important;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
td.field-frequency {
    cursor: pointer;
}

</style>

{% endblock %}

{% block bodyclass %}{{ block.super|suit_body_class:request }}{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <img src="{% static 'images/logo.png' %}" style="width: 55px; height: 55px;margin-right: 10px;"/>
        <a href="{% url 'admin:index' %}">Message Bank</a>
    </h1>
{% endblock %}

{% block pretitle %}
<div class="content-wrap">
    {% block messages %}
        {% if messages %}
            <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
{% endblock %}

{% block sidebar %}
    </div> <!-- Close content-wrap -->
{% endblock %}

{% block usertools %}
    {% if has_permission %}
        <div id="user-tools" class="suit-user-tools">
            {% block welcome-msg %}
                <span class="welcome">
                Welcome,
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            </span>
            {% endblock %}
            <div class="user-links">
            {% block userlinks %}
                {% if site_url %}
                    <!--<a href="{{ site_url }}" class="icon-link view-site-link" data-title="{% trans 'View site' %}">{% trans 'View site' %}</a>-->
                    <!--<span class="separator">/</span>-->

                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}" class="icon-link documentation-link" data-title="{% trans 'Documentation' %}">{% trans 'Documentation' %}</a>
                        <span class="separator">/</span>
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}" class="icon-link change-password-link" data-title="{% trans 'Change password' %}">{% trans 'Change password' %}</a>
                    <span class="separator">/</span>
                {% endif %}
                <a href="{% url 'admin:logout' %}" class="icon-link logout-link" data-title="{% trans 'Log out' %}">{% trans 'Log out' %}</a>
            {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block nav-global %}
    {% include 'suit/menu.html' %}
{% endblock %}

{% block footer %}
{#    </div> <!-- Put footer outside #container -->#}
    {% if not is_popup %}
        <div id="footer">
        <footer class="footer">
            <div class="container-fluid">
                {% block footer_content %}
                    <div class="row">

                        <div class="col-xs-12 col-sm-3 footer-links">
                        </div>

                        <div class="col-xs-12 col-sm-6 text-sm-center footer-copyright">
                        </div>

                        <div class="col-xs-12 col-sm-3 text-sm-right footer-version">
                        </div>

                    </div>
                {% endblock %}
            </div>
        </footer>
    {% endif %}

{#    {{ block.super }}#}
    <script src="{% static "suit/js/suit.js" %}"></script>
    {% if cl.formset or action_form and 'toggle_changelist_top_actions'|suit_conf:request %}
        <script type="text/javascript">
            Suit.ListActionsToggle.init();
        </script>
    {% elif adminform %}
        <script type="text/javascript">

            Suit.$("#{{ opts.model_name }}_form").suitFormDebounce();

            {% if 'form_submit_on_right'|suit_conf:request %}
                Suit.FixedBar.init();
            {% endif %}

            {% if adminform.model_admin.suit_form_tabs %}
                Suit.$(function () {
                    Suit.$('#suit_form_tabs').suitFormTabs();
                });
            {% endif %}

{#            {% if 'layout'|suit_conf:request.current_app == 'vertical' %}#}
{#                Suit.$('#content').prepend(Suit.$('.breadcrumbs'));#}
{#            {% endif %}#}
        </script>
    {% endif %}

{#    <div> <!-- Fix/close div previously closed by footer -->#}
{% endblock %}
