{% extends "base.html" %}
{% load static i18n %}

{% block content %}

                        <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-map icon-gradient bg-happy-itmeo">
                                        </i>
                                    </div>
                                    <div>Maps
                                        <div class="page-title-subheading">List of all UNICEF ArcGIS maps
                                        </div>
                                    </div>
                                </div>
                                <div class="page-title-actions">
                                </div>    </div>
                        </div>

<div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">UNICEF ArcGIS Maps
                                        <div class="btn-actions-pane-right">
                                            <div role="group" class="btn-group-sm btn-group">
                                                <!--<button class="active btn btn-focus">Last Week</button>-->
                                                <!--<button class="btn btn-focus">All Month</button>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <!--<th class="text-center">#</th>-->
                                                <th>Name</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Link</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for map in maps %}
                                            <tr>
                                                <!--<td class="text-center text-muted">#345</td>-->
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                                <div class="widget-content-left">
                                                                    <img width="40" class="rounded-circle" src="{% static 'images/map.png' %}" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">{{ map.name }}</div>
                                                                <div class="widget-subheading opacity-7">{{ map.description }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    {% if map.status == 'Draft' %}
                                                    <div class="badge badge-warning">{{ map.status }}</div>
                                                    {% elif map.status == 'In progress' %}
                                                    <div class="badge badge-primary">{{ map.status }}</div>
                                                    {% elif map.status == 'Completed' %}
                                                    <div class="badge badge-success">{{ map.status }}</div>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <a href="{{ map.link }}" target="_blank" type="button" class="btn btn-primary btn-sm">View Map</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endblock %}
